*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.home{
  @apply bg-slate-300 h-screen relative flex items-center justify-center
}
.sidebar{
  @apply w-1/6 h-screen absolute left-0 bg-indigo-400 p-10 backdrop-blur-lg

}
.sidebar ul{
  @apply list-none mt-10
}
.sidebar li{
  @apply mb-10 p-2 text-white font-mono font-bold cursor-pointer  hover:text-indigo-700;
  border-bottom: 2px solid white;
}
.home-title{
  @apply text-indigo-400 text-[50px] font-mono ;
  text-shadow: 0 0 12px  rgb(37, 30, 129);
}
.signup{
  height: 100vh;
  background:url('/image/bg.jpeg') no-repeat center;
  background-size: cover;
 display: flex;
 align-items: center;
 justify-content: center;
 
}
.form-wrap{

  position: relative;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  padding: 50px;
  background: rgba(0, 0, 0, 0.7);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
 
}
.input-box{
  position: relative;
}
.input-box input{
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  letter-spacing: 1px;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.input-box label {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 1px;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
  @apply font-mono
}
.input-box input:focus ~ label,
 .input-box input:valid ~ label {
  top: -18px;
  left: 0;
  color: #03a9f4;
  font-size: 12px;
}
.register-btn{
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  background: #03a9f4;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  @apply font-mono
}
.form-title{
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
  @apply font-mono
}